.anchor-pane Text
{
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 17;
}
.titled-pane .anchor-pane
{
    -fx-background-color: #f6ffec;
}
.button
{
    -fx-padding: 5 10 10 10 ;
    -fx-background-insets: 0, 0 0 2 0 , 0 0 3 0, 0 0 4 0;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-background-color:
            radial-gradient(center 50% 50%, radius 100%, #629d16, #4a7612);
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-border-width: 0;
    -fx-font-size: 16px;
}
.button:hover
{
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100% , #67a910 0%, #508113 100%),
    #6dab0f,
    #649b11,
    radial-gradient(center 50% 50%, radius 100%, #6f9d2b, #6eb01a);
    -fx-cursor: hand;

}

.button:pressed
{
    --fx-padding: 6 10 9 10 ;
    -fx-background-insets: 1 0 0 0, 1 0 1 0 , 1 0 2 0, 1 0 3 0;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0),4,0,0,1);
}



.combo-box-base
{
    -fx-background-color: linear-gradient(to bottom,#ffffff,#C1E293);
    -fx-border-width: 0.4;
    -fx-border-color: #4a7612;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-pref-height: 30;
}

/*table-view*/
.table-view {
    -fx-text-fill: #ffffff;
    -fx-alignment: center ;
}
.table-view .table-column
{
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}
.table-view .column-header-background .label
{
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(to bottom , #42AB9C, #6BD299);
    -fx-background-radius: 1px;
}
.table-view  .table-row-cell
{
    -fx-alignment: center;
    -fx-font-size: 12.5px;
    -fx-font-family: "Segoe UI Light";
    -fx-font-weight: bold;

}
.table-view  .table-row-cell:hover
{
    -fx-font-size: 12.5px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: bold;
    -fx-background-color:linear-gradient(to right, #96dabb, #c0eccf);
}
.table-view  .table-row-cell:focused
{
    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI ";
    -fx-font-weight: bold;
    -fx-background-color:linear-gradient(to right, #96dabb, #c0eccf);
    -fx-border-color: #42AB9C;
    -fx-border-width: 1 0 1 0;
    -fx-text-fill: #ffffff;
    -fx-focus-color: transparent;
}
.lbl
{
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 1.2em;
}
/*textfield*/
.input-field
{
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5;
    -fx-background-color: #ffffff;
    -fx-border-color: #9E9DA3;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
}
.input-field:hover
{
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5;
    -fx-border-color: #8BC634;

}
.input-field:focused
{
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5;
    -fx-border-color: #8BC634;
    -fx-wrap-text: true;
}


.titled-pane .title
{
    -fx-background-color: linear-gradient(to top, #91c054,#C1E293,#ffffff);
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
}
.titled-pane
{
    -fx-border-color: #416c0d;
}
.titled-pane .anchor-pane
{
    -fx-background-color: #f9fff1;
}

/*label*/
.lbl
{
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 1.4em;
}
.lbl_title
{
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 1.6em;
}

/*label_title*/

#add {
    -fx-padding: 3 8 8 8;
    -fx-background-insets: 0, 0 0 2 0, 0 0 3 0, 0 0 4 0;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-background-radius: 20;
    -fx-text-fill: #67A10AFF;
    -fx-font-family: "Segoe UI black";
    -fx-background-color: transparent;
    -fx-border-color: #74b60c;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
#add:hover {
    -fx-border-width: 0;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100% , #78b713 0%, #67a10a 100%),
    #6faf0a,
    #7cc40c,
    linear-gradient(to right, #adea4e, #7abe0d);
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-border-width: 0;
}

#add:pressed
{
    --fx-padding: 6 10 9 10 ;
    -fx-background-insets: 1 0 0 0, 1 0 1 0 , 1 0 2 0, 1 0 3 0;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0),4,0,0,1);
}
#delete {
    -fx-padding: 3 8 8 8;
    -fx-background-insets: 0, 0 0 2 0, 0 0 3 0, 0 0 4 0;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-width: 2;
    -fx-text-fill: #ff0000;
    -fx-font-family: "Segoe UI black";
    -fx-background-color: transparent;
    -fx-border-color: #ff0000;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
#delete:hover {
    -fx-border-width: 0;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100% , #ab0202 0%, #a10303 100%),
    #da0909,
    #f62121,
    linear-gradient(to right, #ff7979, #ff0000);
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

#delete:pressed
{
    --fx-padding: 6 10 9 10 ;
    -fx-background-insets: 1 0 0 0, 1 0 1 0 , 1 0 2 0, 1 0 3 0;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0),4,0,0,1);
}
#edit {
    -fx-padding: 3 8 8 8;
    -fx-background-insets: 0, 0 0 2 0, 0 0 3 0, 0 0 4 0;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-width: 2;
    -fx-text-fill: #ff9100;
    -fx-font-family: "Segoe UI black";
    -fx-background-color: transparent;
    -fx-border-color: #ff9100;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
#edit:hover {
    -fx-border-width: 0;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100% , #ea8a07 0%, #d27700 100%),
    #dc820d,
    #ea8f1d,
    linear-gradient(to right, #ffc57e, #ea8400);
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

#edit:pressed
{
    --fx-padding: 6 10 9 10 ;
    -fx-background-insets: 1 0 0 0, 1 0 1 0 , 1 0 2 0, 1 0 3 0;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0),4,0,0,1);
}
.titled-pane
{
    -fx-border-color: #416c0d;
    -fx-border-width: 1;
}
.titled-pane .title
{
    -fx-background-color: linear-gradient(to top,#C1E293,#ffffff);
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
}
