.left-container
{
    -fx-background-color: linear-gradient(to top,#C8F196,#F8FDEF);
}

.left-container .button, #logout
{
    -fx-background-color: transparent;
    -fx-text-fill: #4B7813;
    -fx-font-family: "Verdana";
    -fx-font-size: 16;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-padding: 8 15 15 15 ;
    -fx-background-insets: 0, 0 0 5 0 , 0 0 6 0, 0 0 7 0;

}
.left-container .button:hover
{
    -fx-padding: 8 15 15 15 ;
    -fx-background-insets: 0, 0 0 5 0 , 0 0 6 0, 0 0 7 0;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100% , #67a910 0%, #578a17 100%),
    #72b40f,
    #7ac00e,
    radial-gradient(center 50% 50%, radius 100%, #6f9d2b, #7ccb02);
    -fx-cursor: hand;
    -fx-text-fill: #FFFFFF;

}
.left-container .menu-button:hover
{
    -fx-padding: 8 15 15 15 ;
    -fx-background-insets: 0, 0 0 5 0 , 0 0 6 0, 0 0 7 0;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100% , #67a910 0%, #578a17 100%),
    #72b40f,
    #7ac00e,
    radial-gradient(center 50% 50%, radius 100%, #6f9d2b, #7ccb02);
    -fx-cursor: hand;
    -fx-text-fill: #FFFFFF;

}
.left-container .button:focused {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 4 0 0 0, 4 0 5 0, 4 0 6 0, 4 0 7 0;
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #6f9d2b, #7ccb02);
    -fx-text-fill: #ffffff;
}
.left-container .menu-button:focused {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 4 0 0 0, 4 0 5 0, 4 0 6 0, 4 0 7 0;
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #6f9d2b, #7ccb02);
    -fx-text-fill: #ffffff;
}
.left-container .menu-button:focused .label {
    -fx-text-fill: #ffffff;
}

.left-container .menu-button .label
{
    -fx-text-fill: #4B7813;
    -fx-font-family: "Verdana";
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
.left-container .menu-button:hover .label
{
    -fx-text-fill: #FFFFFF;
}
.left-container .menu-button
{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}
.left-container .menu-button .arrow
{
    -fx-font-size: 1.5em;
    -fx-background-color: #4B7813;
}
.left-container .menu-button:hover .arrow
{
    -fx-background-color: #FFFFFF;
}
.left-container .menu-button .menu-item
{
    -fx-background-color: #afacac;

}
.left-container .menu-button .menu-item:hover
{
    -fx-background-color: #72b61c;

}
.left-container .menu-button .menu-item:focused
{
}
.left-container .menu-button:focused .arrow
{
    -fx-background-color: #FFFFFF;
}

.top-container
{
    -fx-background-color: linear-gradient(to right,#D2FD95,#F8FDEF);
}
.top-container Text{
    fx-text-fill: #AAAAAA;
    -fx-font-size: 2em;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
}
/*Close*/
.image
{
    -fx-opacity: 100;
}
.image_hover
{
    -fx-opacity: 0;
}
.pane_close
{
    -fx-background-color: transparent;
}
.pane_close:hover
{
    -fx-background-color: #FF0000;
}

.pane_close:hover .image_hover
{
    -fx-opacity: 100;
}
.pane_close:hover .image
{
    -fx-opacity: 0;
}
/*minimized*/

.minimize
{
    -fx-background-color: transparent;
}
.minimize:hover
{
    -fx-background-color: #DFDFE2;
}

/*logout button */
#logout:hover {
    -fx-padding: 8 15 15 15 ;
    -fx-background-insets: 0, 0 0 5 0 , 0 0 6 0, 0 0 7 0;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100% , #e34646 0%, #b02525 100%),
    #c93131,
    #d23d3d,
    radial-gradient(center 50% 50%, radius 100%, #f87272, #fc4141);
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Verdana";
    -fx-font-size: 16;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
}
#logout:focused {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 4 0 0 0, 4 0 5 0, 4 0 6 0, 4 0 7 0;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100% , #e34646 0%, #b02525 100%),
    #c93131,
    #d23d3d,
    radial-gradient(center 50% 50%, radius 100%, #f87272, #fc4141);
    -fx-text-fill: #FFFFFF;
}
#profile-cat_black
{
    -fx-opacity: 100;

}
#profile-cat_green
{
    -fx-opacity: 0;

}
#pane-profile-cat:hover
{
    -fx-cursor: hand;
}
#pane-profile-cat:hover #profile-cat_black
{
    -fx-opacity: 0;
}
#pane-profile-cat:hover #profile-cat_green
{
    -fx-opacity: 100;
}
#pane-profile-cat:pressed
{
    -fx-background-color: #CAF191 ;
}
#imageViewHome {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
#panelHover {
    -fx-opacity: 0;
}
#panelHover:hover {
    -fx-cursor: hand;
}
#panelHover:hover {
    -fx-opacity: 0.5;
}
#panelHover:pressed {
    -fx-opacity: 1;
}