.container {
    -fx-background-color: #F4FAEDFF;
}
/*table-view*/
.table-view {
    -fx-text-fill: #ffffff;
    -fx-alignment: center ;
}
.table-view .table-column
{
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}
.table-view .column-header-background .label
{
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(to bottom , #5a8f15, #82c22f);
    -fx-background-radius: 1px;
}
.table-view  .table-row-cell
{
    -fx-alignment: center;
    -fx-font-size: 12.5px;
    -fx-font-family: "Segoe UI Light";
    -fx-font-weight: bold;

}
.table-view  .table-row-cell:hover
{
    -fx-font-size: 12.5px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: bold;
    -fx-background-color:linear-gradient(to right, #bdda98, #d7e8c0);
}
.table-view  .table-row-cell:focused
{
    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI ";
    -fx-font-weight: bold;
    -fx-background-color:linear-gradient(to right, #b7d58f, #c0eccf);
    -fx-border-color: #528311;
    -fx-border-width: 1 0 1 0;
    -fx-text-fill: #ffffff;
    -fx-focus-color: transparent;
}
#tableview-main .column-header-background .label
{
    -fx-font-size: 15px;
}
/*tabpane*/
.tab-pane
{
    -fx-background-color: #cdefa6;
}
.tab-pane .tab .tab-label
{
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.tab-pane .tab{
    -fx-background-color: #f6ffec;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16;
}
.tab-pane .tab:selected
{
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width:3 0 0 0;
    -fx-border-color: #5A8F15;
    -fx-background-color: linear-gradient(to top, #ecfade,#cfefac);
}
.tab:selected .focus-indicator
{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}
.tab:focused
{
    -fx-focus-color: transparent;
}
.tab-pane .tab-header-background
{
    -fx-background-color: transparent;
}

.Pane Text
{
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI Semibold";
}


